.search-container {
    margin: auto;
    display: flex;
    border: 2px solid #4CAF50; /* Bordo verde */
    border-radius: 25px; /* Angoli arrotondati */
    overflow: hidden; /* Nasconde gli angoli del contenitore */
    background-color: white; /* Sfondo bianco */
}

.search-input {
    border: none; /* Rimuove il bordo dell'input */
    padding: 10px 15px; /* Padding interno */
    font-size: 16px; /* Dimensione del testo */
    outline: none; /* Rimuove il contorno al focus */
    flex: 1; /* Occupa tutto lo spazio disponibile */
}

.search-button {
    background-color: #4CAF50; /* Colore verde del pulsante */
    color: white; /* Colore del testo del pulsante */
    border: none; /* Rimuove il bordo del pulsante */
    padding: 10px 15px; /* Padding interno */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s; /* Transizione per l'effetto hover */
}

.search-button:hover {
    background-color: #45a049; /* Colore verde scuro al passaggio del mouse */
}

.piante-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spaziatura tra le card */
}

.pianta-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: auto; /* Aumenta la larghezza della card */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: auto; /* Centra la card */
}

.pianta-image {
    margin: auto;
    width: 50%;
    border-radius: 10px;
}